[Unit]
Description=Run Budget Plaid transaction synchronization periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
RandomizedDelaySec=20s
Persistent=true
Unit=budget-sync.service

[Install]
WantedBy=timers.target
